#content {
  margin-left: 30vw;
  margin-right: auto;
  text-align: justify;
  width: 650px;
}

#nav-bar {
  background-color: black;
}

#title {
  font-family: 'Roboto Mono', monospace;
  color: white;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.nav-button, .footer_link {
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  background-color: white;
  color: black;
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  margin-right: 5px;
  border-radius: 10px;
}

.footer_link {
  margin-right: 30px;
  text-decoration: underline;
}

.footer_link:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.nav-button:hover {
  background-color: transparent;
  color: white;
}

h3, h4, h5, p {
  font-family: 'Roboto Slab', serif;
}

#imgs {
  position: absolute;
  overflow: hidden;
  top: 18vw;
}

#videos {
  position: absolute;
  overflow: hidden;
  top: 10vw;
}

#albanian {
  position: absolute;
  overflow: hidden;
  top: 10vw;
  left: 75vw;
  width:auto;
}

#google_translate_element {
  position: absolute;
  overflow: hidden;
}

.bordered {
  width: 700px;
  padding: 20px;
  border: 10px solid;
  clip-path:
  polygon(
    12.5% 5%,
    12.5% 0,
    100% 0%,
    100% 60%,
    97.5% 60%,
    97.5% 95%,
    87.5% 95%,
    87.5% 100%,
    0 100%,
    0 40%,
    2.5% 40%,
    2.5% 5%
    );
}

.bordered#projects { 
  padding: 45px;
}

.project_imgs {
  display: none;
  width: auto;
  max-width: 25vw;
  border: 10px solid black;
}

.rock_climbing {
  display: none;
  border: 10px solid black;
}

.clickable:hover {
  padding-left: 2px;
  padding-right: 2px;
  border:2px solid black;
  -webkit-trannsition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.clickable:hover h4 {
  color:midnightblue;
}

.comment-section, .white-outline {
  padding: 10px;
  background-color: #111;
  color: white;
  border: 2px solid white;
}

.textarea-comment, .textarea-user {
  display: inline-block;
  width: 60%;
  background-color: #222;
  border: 2px solid white;
  overflow: hidden;
  min-height: 20px;
  line-height: 20px;
  font-family: 'Roboto Slab', serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.textarea-comment:empty::before {
  content: "Please enter a comment.";
  color:white;
}

.textarea-comment:focus, .textarea-user:focus{
  outline: none;
  border: 2px solid #555;
  background-color: white;
  color: black;
}

.textarea-user {
  width: 20%;
  max-height: 20px;
}

.textarea-user:empty::before {
  content: "Name. (Optional)";
  color: white;
}

.submit-button {
  position: relative;
  top: -7px;
  background-color: cadetblue;
  border: solid cadetblue;
  border-radius: 5px;
  outline: none;
  padding: 5px;
}

.comment-section {
  width: 700px;
  margin-left: 31vw;
  margin-right: auto;
}

.delete-button {
  position: relative;
  float: right;
  padding: 5px;
  border: solid tomato;
  outline: none;
  background-color: tomato;
  border-radius: 5px;
  top: -10px;
}

#indiv-delet-button {
  padding: 0px;
  padding-left: 4px;
  padding-right: 4px;
  top: -15px;
}

#commenting-section p {
  font-family: 'Roboto Mono', monospace;
}

.max-comment {
  display: inline-block;
}

.max-comment:hover {
  text-decoration: underline;
}

.comments {
  list-style-type: none;
}

.comment-div {
  border-bottom: 1px solid #333;
  font-family: 'Roboto Slab', serif;
}

.user-text {
  font-size: 15px;
  margin-bottom: 5px;
}

.time-text {
  font-size: 10px;
  color: #444;
  float: right;
}

.comment-text {
  margin-top: 5px;
}
